<div>
	<h1>Carrito de Compras</h1>

	{{#each productos}}
	<div>
		<p>Producto: {{title}}</p>
		<p>Cantidad: {{this.quantity}}</p>
	</div>
	<div>
		<p>Total: ${{this.product.price}}</p>
		
	</div>
	{{/each}}

	
	<div>
		<p>Total: ${{this.product.price}}</p>
		
	</div>
</div>